<div class="card mb-10">
  <div class="card-body">
    <div class="fv-row" [formGroup]="typeForm">
      <div class="row">
        <div class="col-lg-6">
          <input
            id="add_category"
            name="selectTypeForm"
            type="radio"
            class="btn-check"
            value="add_category"
            formControlName="selectTypeForm"
          />
          <label
            class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center mb-10"
            for="add_category"
          >
            <span class="d-block fw-bold text-start">
              <span class="text-dark fw-bolder d-block fs-4 mb-2"
              >افزودن دسته بندی</span
              >
              <span class="text-gray-400 fw-bold fs-6">
                جهت افزودن دسته بندی جدید این بخش را انتخاب نمایید
              </span>
            </span>
          </label>
        </div>

        <div class="col-lg-6">
          <input
            id="edit_category"
            name="selectTypeForm"
            type="radio"
            class="btn-check"
            value="edit_category"
            formControlName="selectTypeForm"
          />
          <label
            class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center"
            for="edit_category"
          >
            <span class="d-block fw-bold text-start">
              <span class="text-dark fw-bolder d-block fs-4 mb-2"
              >ویرایش دسته بندی
              </span>
              <span class="text-gray-400 fw-bold fs-6">
                جهت ویرایش و حذف بندی این بخش را انتخاب نمایید
              </span>
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-category-tree
            (categorySelected)="onCategorySelected($event)"
            #categoryTreeComponent
          ></app-category-tree>
        </div>
        <div class="col-md-6">
          <form
            *ngIf="typeForm.get('selectTypeForm')?.value==='add_category';else editCategoryFormTemplate"
            [formGroup]="insertCategoryForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">

              <label for="selectedCategory" class="form-label"
              >دسته بندی انتخاب شده</label
              >
              <div class="d-flex">
                <input

                  type="text"
                  class="form-control"
                  id="selectedCategory"
                  placeholder="عدم انتخاب دسته بندی، به عنوان دسته بندی اصلی افزوده می شود"
                  formControlName="selectedCategory"
                  readonly
                />
                <button type="button" class="btn btn-sm btn-light ms-2"
                        (click)=" clearTreeSelection();categoryTreeComponent.clearValue()">حذف انتخاب
                </button>
              </div>

            </div>
            <div class="mb-3">
              <label for="name" class="form-label">عنوان دسته بندی</label>
              <input
                maxlength="50"
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder=""
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">توضیحات</label>
              <textarea
                maxlength="400"
                class="form-control"
                id="description"
                formControlName="description"
                rows="3"
                placeholder=""
              ></textarea>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">افزودن دسته بندی</button>
            <button type="button" class="btn btn-sm btn-secondary ms-2 " (click)="onReset()">
              بازنویسی
            </button>
          </form>
          <ng-template #editCategoryFormTemplate>
            <form [formGroup]="editCategoryForm" (ngSubmit)="onEditSubmit()">
              <div class="mb-3">

                <label for="selectedCategory" class="form-label"
                >دسته بندی انتخاب شده</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="selectedCategoryEdit"
                  placeholder="لطفا دسته بندی مورد نظر را انتخاب نمایید"
                  formControlName="selectedCategoryEdit"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="nameEdit" class="form-label">عنوان دسته بندی</label>
                <input
                  maxlength="50"
                  type="text"
                  class="form-control"
                  id="nameEdit"
                  formControlName="nameEdit"
                  placeholder=""
                />
              </div>
              <div class="mb-3">
                <label for="descriptionEdit" class="form-label">توضیحات</label>
                <textarea
                  maxlength="400"
                  class="form-control"
                  id="descriptionEdit"
                  formControlName="descriptionEdit"
                  rows="3"
                  placeholder=""
                ></textarea>
              </div>
              <button type="submit" class="btn btn-sm btn-primary">ویرایش دسته بندی</button>
              <a (click)="onRemove()"  class="btn btn-sm btn-danger cursor-pointer ms-2" id="remove_product_button">حذف </a>
              <button type="button" class="btn btn-sm btn-secondary ms-2 " (click)="onResetEdit()">
                بازنویسی
              </button>

            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
