.table {
    margin-bottom: 1rem;
  }
  
  .card {
    border: 1px solid #e2e5ec;
  }
  
  .card-header {
    background-color: #f3f6f9;
  }
  
  .radio-inline-container {
    display: flex;
    flex-direction: row;
  }
  
  .radio-inline-container .form-check {
    margin-right: 15px; 
  }